.greetingForm {
}

.inputAndButtonContainer {
}

.error {
  color:red
}

.input {
}

.input:focus {
}

.errorInput {
  border-color:red
}

.button {
  height: 20px;
  width: 50px;  
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
